body {
  font-family: Arial;
  margin: 0;
}
  
/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
  
/* Page Content */
.content {
  padding:20px;
}


/* ewditor stuff */
.main {
  display : flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.editor-outer{
  flex-grow: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  height: 50%;
  background-color: #333642;
  overflow: hidden;
}

.output{
  flex-grow: 1;
  flex-basis: auto;
  height: 50%;
}

.editor-container{
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  margin : 10px;
}

.editor-container.min{
  flex-grow: 0;
  height: 90%;
}


.editor-body{
  height: 100% !important;
  padding-bottom: 5%;
}

.code-mirror-wrapper{
  height: 100%;
  
}

.CodeMirror{
  height: 100% !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}


.editor-header{
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 25%);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.button {
  background-color: rgba(0,0,0,0.5);
  color : white;
  border: 0px;
  border-top-right-radius: 10px;
}

.button-1{
  background-color: #333642;
  color: white;
  width: 50%;
}

.button-1:hover{
  color: bisque;
  background-color: teal;
}





.outer-test{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.inner{
  background-color: grey;
  flex-grow: 1;
  height: 50vh;
  width: 50%;
}

.inner-2{
  background-color: black;
  flex-grow: 1;
  height: 50vh;
  color: aliceblue;
  width: 50%;
}

.toast{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 10;
}