.main{
  height: 100%;
  width : 100%;
}

.output {
  width : 100%;
  height : 50vh;
}

.editor {
  width : 100%;
  height : 50vh;
  display : flex;
  flex-direction: row;
  flex : 1;
  background-color: #333642;
}

.editor-container{
  flex : 1;
  flex-grow: 1;
  margin: 10px;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color:rgba(0,0,0,0.1);
  padding-bottom: .1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.button {
  background-color: rgba(0,0,0,0.1);
  color : white;
  border: 0px;
}
