.body{
  height: 100%;
}

.main {
  display : flex;
  flex-direction: column;
  height: 100vh;
}

.editor-outer{
  flex-grow: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  background-color: #333642;;
}

.output{
  flex-grow: 1;
  flex-basis: auto;
  height: 100%;
  background-color: aqua;
  /* resize: both; */
  overflow: hidden;
}

.editor-container{
  flex-direction: column;
  flex : 1;
  margin : 10px;
}

.Codemirror{
  height: 100% !important;
}

.editor-container-min{
  background-color: bisque;
}

.editor-header{
  display: flex;
  justify-content: space-between;
  background-color:rgba(0,0,0,0.5);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.button {
  background-color: rgba(0,0,0,0.5);
  color : white;
  border: 0px;
  border-top-right-radius: 10px;
}





.outer-test{
  background-color: green;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
}

.inner{
  background-color: aqua;
  /* flex-grow: 1; */
  /* position: absolute; */
  /* top : 0; */
  /* bottom: 50%; */
  /* right : 0;
  left : 0; */
  height: 200vh;
}

.inner-2{
  background-color: red;
  /* flex-grow: 1; */
  /* height: 50%; */
  z-index: 2;
  position: fixed;
  top : 0;
  right : 0;
  left : 0;
}